<!DOCTYPE html>
<html lang="en">
<head>
  <title>SpaceX Launches</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
  <style>
    .launch-item {
      padding: 10px;
      border: 1px solid #d80c0c;
      margin-bottom: 10px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
  
    .launch-item:hover {
      background-color: #f7f7f7;
    }
  
    .launch-status {
      font-weight: bold;
      color: #333;
    }
  
    .launch-status.upcoming {
      color: #f39c12;
    }
  
    .launch-status.success {
      color: #27ae60;
    }
  
    .launch-status.failed {
      color: #e74c3c;
    }
  </style>
  
</head>
<body>
  <div id="app"> 
    <h1>Rocket launch table</h1>
    <ul class="launch-list">
      <div>
        <button @click="setSortOp('name')">
          Sort by Name {{ sortOp === 'name' ? (sortOr === 'asc' ? '↑' : '↓') : '' }}
        </button>
        <button @click="setSortOp('date')">
          Sort by Date {{ sortOp === 'date' ? (sortOr === 'asc' ? '↑' : '↓') : '' }}
        </button>
      </div>
      <li 
      v-for="launch in launches" 
      :key="launch.id" 
      class="launch-item" 
      @click="showDetails(launch)">
      <strong>{{ launch.name }}</strong> <br>
      <strong>Date:</strong> {{ new Date(launch.date_utc).toLocaleString() }} <br>
      <strong>Crews:</strong> {{ launch.crews.length }} <br>
      <strong>Status:</strong> {{ launch.statusRocket }} <br>
      <img 
        :src="launch.rocketDetails.flickr_images[0]" 
        alt="Rocket Image" 
        class="rocket-image" 
        v-if="launch.rocketDetails.flickr_images.length">
    </li>
      </ul>

    <div v-if="selectedLaunch" class="modal-overlay" @click="closeModal"></div>
    <div v-if="selectedLaunch" class="modal">
        <h2>{{ selectedLaunch.name }}</h2>
        <p><strong>Details:</strong> {{ selectedLaunch.detailsRocket }}</p>
        <p><strong>Crews Member:</strong> {{ selectedLaunch.crews.join(', ') }}</p>
        <p><strong>Rocket:</strong> {{ selectedLaunch.rocketDetails.name }}</p>
        <p><strong>Launchpad:</strong> {{ selectedLaunch.launchpad }}</p>
        <p><strong>Status:</strong>{{ launch.upcoming }}</p>
        <img 
          :src="selectedLaunch.rocketDetails.flickr_images[0]" 
          alt="Rocket Image" 
          class="rocket-image" 
          v-if="selectedLaunch.rocketDetails.flickr_images.length">
        <button @click="closeModal">Close</button>
      </div>
  </div>

  <script src="app.js"></script>
</body>
</html>

